@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

//universal selector
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #00aa00; //css variable
}

body {
    font-family: 'Roboto Mono', sans-serif;
    background-color: #333;
    color: #ccc;
    font-size: 18px;
    line-height: 1.6;
}

.container {
    max-width: 600px;
    margin: auto;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    nav {
        width: 30%;

        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            align-items: center;

            li {
                color: var(--text-color);
                cursor: pointer;
            }
        }
    }

    h1 {
        color: var(--text-color);
        font-size: 50px;
        letter-spacing: -5px; //squish it little bit
        margin-bottom: 20px;

        .cursor {
            font-weight: 700;
            animation: 1s blink step-end infinite;
        }
    }

    h3 {
        margin-bottom: 10px;
    }

    a {
        color: var(--text-color);
        text-decoration: none;
    }
}

//if we inspect on winbox, this class can be seen
.wb-body {
    background: #111;
    padding: 20px;
}

.hidden {
    display: none;

    h2 {
        color: var(--text-color);

        .cursor {
            font-weight: 700;
            animation: 1s blink step-end infinite;
        }
    }

    #about-content {
        p {
            margin: 20px 0;
        }
    }


}

@keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: var(--text-color);
    }
}